.scale-table__layout {
    border-spacing: 0.5vw;
    border-collapse: separate;
}

.scale-note {
    box-sizing: border-box;
    width: 6vw;
    height: 6vw;
    font-size: 2.5vw;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin: 0.5vw;

    border-radius: 50%;
}

.scale-desc {
    box-sizing: content-box;
    border: 0.3vw solid black;
    font-size: 2vw;
    text-align: center;
    vertical-align: middle;

    padding: 0 0.3vw;
}

@import "note";
